# System Files
.DS_Store
Thumbs.db

# Caches
.cache/
__pycache__/
*.pyc

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node / Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/
